* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 0;
  border: 0;
  color: #fff;
  font-size: 1.3rem;
  font-family: system-ui;
}

.calculator {
  width: 235px;
  height: 320px;
  font-variant-numeric: tabular-nums;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.display {
  background: rgb(87, 80, 80);
  height: 80px;
  line-height: 80px;
  text-align: right;
  padding-right: 15px;
  font-size: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: lighter;
}

.numpad-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1px;
  flex: 1;
  background: rgb(64, 57, 57);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.numpad-grid .dark {
  background: rgb(103, 97, 97);
}

.numpad-grid button {
  background: rgb(128, 123, 123);
}

.numpad-grid .operator {
  background: rgb(255, 159, 10);
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.zero {
  border-bottom-left-radius: 10px;
}

.equal {
  border-bottom-right-radius: 10px;
}
